.inspires {
    background: #9AA8B1;
    min-height: 404px;
    padding-top: 120px;
    &__wrapper {
        text-align: center;
    }
    &__logo {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    &__title {
        font-size: 43px;
        line-height: 1.34;
        color: #FFFFFF;
        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.8px;
        p {
            color: #FFFFFF;
        }
    }
}