.made {
    padding-top: 116px;
    padding-bottom: 50px;
    &-content {
        text-align: center;
        &__title {
            font-size: 34px;
            line-height: 1;
            color: #000000;
            &:not(:last-child) {
                margin-bottom: 23px;
            }
        }
        &__text {
            display: inline-block;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.8px;
            max-width: 777px;
            p {
                color: #A0A0A0;
            }
        }
    }
    &-image {
        margin-top: 23px;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            
        }
    }
}